* {
    background-color: rgb(156, 36, 36);
}

body {
    text-align: center;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
ul, ol {
    list-style-position: inside
}

.navbar {
    list-style: none
}

.navbar a {
    color: azure;
}

.navbar li{
    display: inline;
    margin: 10px;
    position: relative;
    font-weight: bold;
}

footer {
    list-style: none
}

footer a {
    color: azure;
}

footer li{
    display: inline;
    margin: 10px;
    position: relative;
    font-weight: bold;
}

h1, h2, h3, h4 {
    color: azure;
    font-weight: bold;
}

p {
    font-weight: bold;
}

ul, ol, li {
    font-weight: bold;
}